.button {
  font-family: "Chillax";
  font-size: 24px;
  font-weight: 400;
  color: #dfe0db;
  font-feature-settings: "ss02" on;
  display: flex;
  width: 356px;
  height: 64px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--beige, #9b948a);
  transition: 0.5s ease;
  opacity: 50%;
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  opacity: 100%;
}
