.detail-back {
  stroke: var(--brun, #6f6357);
  margin-top: 35px;
}

.detail-jocker {
  box-shadow: 5px 8px 11px 0px rgba(0, 0, 0, 0.25);
}

.detail-heisenberg {
  margin-top: 264px;
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
}

.detail-jack {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
  margin-top: 100px;
}

.detail-poulpe {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
}

.detail-osature {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
}

.detail-torax {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
}

.detail-poseidon {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
}
