.detail-back {
  stroke: var(--brun, #6f6357);
  margin-top: 35px;
}

.detail-jocker {
  box-shadow: 5px 8px 11px 0px rgba(0, 0, 0, 0.25);
  border-radius: 22px;
  overflow: hidden;
}

.detail-title {
  margin: 20 0 60 0px;
}

// .detail-img {
//   box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
//   border-radius: 22px;
//   overflow: hidden;
//   position: relative;
// }

.detail-heisenberg {
  margin-top: 264px;
  z-index: 100;
}

.detail-jack {
  margin-top: 100px;
  border-radius: 22px;
  overflow: hidden;
}

.detail-poulpe {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
  width: 95%;
  margin: -40 0 0 -30px;
  border-radius: 22px;
  overflow: hidden;
}

.detail-osature {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
  margin: -100 0 0 30px;
  position: relative;
  z-index: 10;
  border-radius: 22px;
  overflow: hidden;
}

.detail-torax {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
  margin: -238 0 0 0px;
  border-radius: 22px;
  overflow: hidden;
}

.detail-poseidon {
  box-shadow: -3px 3px 20px 0px rgba(0, 0, 0, 0.35);
  width: 95%;
  margin: -300 0 100 20px;
  position: relative;
  z-index: 100;
  border-radius: 22px;
  overflow: hidden;
}
