.home-title {
  color: var(--blanc, #e1e2dc);
  margin-top: -96px;
}

.home-background {
  background: url(/src/img/accueil-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  aspect-ratio: 16/9;
}

.home-detail {
  color: #20201e;
  text-align: center;
  margin-top: 463px;
}

.home-cv {
  font-size: 54px;
}

.home-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 90 0 60 0px;
}

.home-projet {
  img {
    margin: 45 0 16 0px;
    border-radius: 22px;
    mix-blend-mode: color-burn;
    filter: brightness(0.7) contrast(1.2);
    transition: transform 0.8s ease;
  }
  .detail {
    margin-top: 8px;
  }
}

.home-bottom img {
  mix-blend-mode: color-burn;
  width: 100%;
  filter: brightness(1) contrast(1);
  margin-top: -800px;
}
.home-text {
  margin: 100 0 30 0px;
}

.home-projet img:hover {
  mix-blend-mode: normal;
  filter: brightness(100%) contrast(100%);
  transform: scale(106%);
  box-shadow: 5px 8px 11px 0px rgba(0, 0, 0, 0.25);
}
