.home-title {
  color: var(--blanc, #e1e2dc);
}

.home-background {
  background: url(/src/img/accueil-img.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  aspect-ratio: 16/9;
}

.home-moi {
  width: 500px;
  height: 900px;
  align-items: center;
}

.home-detail {
  color: #20201e;
  text-align: center;
  margin-top: 463px;
}

.home-cv {
  font-size: 54px;
}

.home-button {
  display: flex;
  width: 356px;
  height: 64px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: var(--beige, #9b948a);
}
