.project-arrow {
  color: var(--brun, #6f6357);
  padding-top: 35px;
}

.project-page {
  h2 {
    transform: rotate(-90deg);
  }

  img {
    filter: grayscale(100%);
    opacity: 90%;
  }
}

.graphisme {
  margin: 200px;
}
