* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  background: url("../img/background.png");
  background-size: cover;
  background-position: top center;
  background-size: cover;
}

h1 {
  color: var(--blanc, #e1e2dc);
  text-align: center;
  font-feature-settings: "ss02" on;
  font-family: "chillax";
  font-size: 136px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: capitalize;
}

h2 {
  font-family: "coffekan";
  font-size: 82px;
}
