.detail {
  font-family: "chillax";
  font-size: 24px;
  font-style: normal;
  font-weight: 100;
  line-height: 34px;
}

.button {
  font-family: "Chillax";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.line {
  width: 356.001px;
  height: 1px;
  background: rgba(0, 0, 0, 0.2);
}
